
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.main_contenedor {
    background:rgba(0, 0, 0, 0.7);
}

body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    background:rgb(209, 9, 102);
    border-radius: 10px;
}

.texto-pink {
	font-weight: 100;
	color: rgb(209, 9, 102);
}
.texto-blanco {
	font-weight: 600;
	color: #fff;
}
.texto-negro {
	color: #000;
}