.body-galeria {
    background-image:url("../imagenes/productos.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

.titulo {
    margin-top: 1em;
	font-size: 80px;
	text-transform: uppercase;
}

.seccionRecetas {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-flow: row wrap;
    margin: 30px;
    border: 1px solid rgb(156, 153, 153);

    .seccionRecetas__form{
        background-color:rgb(209, 9, 102);
        color:rgb(248, 248, 241);
        width: 90%;
        padding-left: 10px;
} 
    .seccionRecetas__comentarios {
        margin-top: 1.5em;
        margin-bottom: 3em;
    }
}


