
@media screen and (max-width: 768px) {
    .nav {
        padding: 5px;
    }

    .nav .nav li, .nav a {
        display: inline-block;
        margin: 6px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        color: #c2c2c2;
    }
    
    .titulo {
        font-size: 50px;
    }
    .subtitulo {
        font-size: 20px;
    }
    .row {
        display: inline;
    }
    .suscripcion .texto-pink{
        font-size: 16px;
    }
    .footer {
        .redes-sociales a {
        width: 70px;
        height: 70px;
        }
        .texto-pink {
            font-size: 24px;
        }
        .footer-suscripcion {
            display: inline;
        }
    }
}

@media screen and (max-width: 576px) {
    .nav .nav li, 
    .nav .nav a {
        display: inline-block;
        margin: 5px;
        padding: 0;
        font-size: 16px;
    }

    .contenedor-titulo .titulo{
        font-size: 40px;
    }

    .subtitulo .texto-blanco{
        font-size: 25px;
    }

    .nuestrosProductos .texto {
        font-size: 20px;
    }
    .sobreNosotros_contenido .texto {
        font-size: 20px;
    }

    .footer {
    .texto-pink {
        font-size: 20px;
    }
    .suscripcion .texto-pink {
        font-size: 20px;
    }
    .redes-sociales a{
        width: 60px;
        height: 60px;
    }
    .redes-sociales a i {
        font-size: 30px;
    }
}
}

@media screen and (max-width: 360px) {
    .nav .nav li, 
    .nav .nav a {
        display: inline-block;
        margin: 5px;
        padding: 0;
        font-size: 14px;
    }

    .contenedor-titulo .titulo{
        font-size: 40px;
    }

    .subtitulo .texto-blanco{
        font-size: 25px;
    }
    
    .sobreNosotros .sobreNosotros_contenido .bienvenidos h4 {
        font-size: 20px;
    }

    .sobreNosotros .sobreNosotros_contenido .texto {
        font-size: 20px;
    }
    .nuestrosProductos .texto {
        font-size: 20px;
    }
    .footer {
        .footer .texto-pink {
            font-size: 18px;
        }
        .footer .suscripcion .texto-pink {
            font-size: 18px;
        }
        .footer .redes-sociales a i {
            font-size: 30px;
        }
    }
    
}