$contenedor: rgba(37, 37, 37, 0.5);
$colorNabvar: #975b77;
$colorTitle: rgb(231, 221, 214);
$colorFooter: #975b77;
$color-main: rgba(82, 80, 80, 0.7);
$white: rgb(231, 220, 213);

$f-family:'Kalam', cursive;
$fs-Nav: 1.5em;
$fs-Titulos: 6em;
$fs-SubTitulos: 4em;
$fs-texto: 3em;
$margin-top: 1.5em;
$margin-bottom: 2em;